nav{
	position: relative;
    width: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: black;
}

.active{
	background-color: black;
}

body{
	background-color: whitesmoke;
	color: #ffffff;
}
h1{
	color: #ffffff;
}
div{
	background-color: black;
	width: 745px;
	margin: auto;
	text-align: center;
}



element.style {
    width: 387px
}

style {
    position: relative;
    width: 100%;
}
